#blog-feeds-widget.jarviswidget>div{
	background-color:transparent !important;
}
#twitter-feeds-widget.jarviswidget>div{
	background-color:transparent !important;
}
#instagram-feeds-widget.jarviswidget>div{
	background-color:transparent !important;
}
.status .text {
	padding-bottom:0px !important;
	padding: 10px !important;
}
.padding-top-0 {
	padding-top:0px !important;
}
.padding-bottom-0 {
	padding-bottom: 0px !important;
}
.padding-10 {
	padding: 10px !important;
}
.retweeted {
	margin-top:10px;
	margin-left:10px;
}
.owl-next {
	position: absolute !important;
	right: 0px !important;
	background: none !important;
}
.owl-prev {
	position: absolute !important;
	left: 0px !important;
	background: none !important;
}
.cursor-pointer {
	cursor: pointer !important;
}