.circular-layout {
	position: relative !important;
	width: 500px !important;
	height: 500px !important;
	left: 50%;
	margin-left: -250px !important;
}

.circular-layout ul {
	list-style: none !important;
}

.circular-layout li {
    position: absolute !important;
    left:50% !important; 
    top:50% !important;
    width: 80px !important; 
    height: 80px !important;
    line-height: 80px !important;
    font-size: 75px !important;
     
    margin-top: -40px !important;
    margin-left: -40px !important;

    
    cursor: pointer;
    
	list-style: none !important;
	outline: none !important;
	overflow: hidden !important;
	
    /*-webkit-transform: rotate(-360deg) !important;*/
    /*transition: all .8s ease-in-out !important;*/

    background: #fff;
    border-radius: 50% !important;
    text-align: center !important;
/*
    transition: all 0.8s ease-in-out, color .1s, background .1s !important;
*/
    box-shadow: 0 3px 3px rgba(0,0,0,.1) !important;
    
}

.circular-layout span.icon {
    line-height: 0px;
    font-size: 36px;
    margin-left: 22px;
    margin-top: 10px;
   
    position: absolute;
    
    top: 0%;
    left: 0%;
}

.circular-layout li label {
	position: relative;
	top: -10px;
    line-height: 0;
    font-size: 12px;
    cursor: pointer;
}

div.circular-layout .logo {
	width: 250px !important;
	height: 250px !important;
    margin-top: 125px !important;
    margin-left: -125px !important;
    
    background: none !important;
    
    position: relative !important;
    left: 50% !important;
    top: 50% !important;
}
