#main {margin-left:0px !important;}
.lockscreen { top: 40% !important; }
.lockscreen .logo img {
	width:50%;
}

@media (max-width: 767px)
{
	.lockscreen { top: 0 !important; }
}

.install-animation {
	background: #FFF;
    box-shadow: -31px 32px 53px rgba(0,0,0,.2);
    overflow: hidden;
    padding: 13px;
    position: relative;
}