.update-box {
    max-width: 900px;
    margin: 0 auto;
}

.fabtotum-icon {
	position: relative;
	font-size:30px;
}

.fabtotum-icon .badge {
	position: absolute;
	right: 55px;
	top: -58px;
	font-size: 50px;
	background-color: transparent !important;
}

.check {
	right: 50px !important;
}

.fabtotum-icon .fa-play {
	/*
	box-shadow: 7px -3px 20px 4px #bfbfbf;
	*/
}

@-webkit-keyframes pulse {
	 0% {
	 -webkit-transform: scale(1, 1);
	}
	 50% {
	 -webkit-transform: scale(1.1, 1.1);
	}
	 100% {
	 -webkit-transform: scale(1, 1);
	};
}

@keyframes pulse {
	 0% {
	 transform: scale(1, 1);
	}
	 50% {
	 transform: scale(1.1, 1.1);
	}
	 100% {
	transform: scale(1, 1);
	};
}

.pulse {
	-webkit-animation: pulse 3s linear infinite;
	animation: pulse 3s linear infinite;
}

.fa-border {
	border: solid 1px !important;
}

.update-details {
	border: 1px solid #ddd;
	padding:10px;
}

.table-forum tbody tr:first-child  td {
	border-top:0px !important;
}
