/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 
.uppercase {
	text-transform: uppercase !important;
}

.dd {
	width: 100%;
	max-width: 100%;
}

.popover {
	max-width: 400px;
}

.day {
	background: #6DB0E0 !important;
}

.evening {
	background: #DC8975 !important;
}

.night {
	background: #7065E3 !important;
} 

