@charset "UTF-8";

@font-face {
  font-family: "fabui";
  src:url("/assets/fonts/fabui/fabui.eot");
  src:url("/assets/fonts/fabui/fabui.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/fabui/fabui.woff") format("woff"),
    url("/assets/fonts/fabui/fabui.ttf") format("truetype"),
    url("/assets/fonts/fabui/fabui.svg#fabui") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fabui" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fabui-"]:before,
[class*=" fabui-"]:before {
  font-family: "fabui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fabui-1:before {
  content: "\61";
}
.fabui-3d-printer-2:before {
  content: "\62";
}
.fabui-object:before {
  content: "\63";
}
.fabui-3d-scanner:before {
  content: "\64";
}
.fabui-4:before {
  content: "\65";
}
.fabui-spool:before {
  content: "\66";
}
.fabui-printing-nozzle-1:before {
  content: "\68";
}
.fabui-7:before {
  content: "\67";
}
.fabui-3d-printer:before {
  content: "\69";
}
.fabui-heated-bed:before {
  content: "\6a";
}
.fabui-10:before {
  content: "\6b";
}
.fabui-3d-printer-1:before {
  content: "\6c";
}
.fabui-printing-nozzle:before {
  content: "\6d";
}
.fabui-object-info:before {
  content: "\6e";
}
.fabui-edit-file:before {
  content: "\6f";
}
.fabui-15:before {
  content: "\70";
}
.fabui-a-mode-37:before {
  content: "\71";
}
.fabui-bed:before {
  content: "\72";
}
.fabui-bed-prsct1:before {
  content: "\73";
}
.fabui-bed-prsct2:before {
  content: "\74";
}
.fabui-cad-modeling:before {
  content: "\75";
}
.fabui-core:before {
  content: "\76";
}
.fabui-designer-tools:before {
  content: "\77";
}
.fabui-e-mode:before {
  content: "\78";
}
.fabui-fabric-printing:before {
  content: "\79";
}
.fabui-feeder:before {
  content: "\7a";
}
.fabui-file-processing:before {
  content: "\41";
}
.fabui-head1:before {
  content: "\42";
}
.fabui-head-2:before {
  content: "\43";
}
.fabui-home-28:before {
  content: "\44";
}
.fabui-jog:before {
  content: "\45";
}
.fabui-model-preparation:before {
  content: "\46";
}
.fabui-nozzle:before {
  content: "\47";
}
.fabui-layers:before {
  content: "\48";
}
.fabui-object-settings:before {
  content: "\49";
}
.fabui-packaging-box:before {
  content: "\4a";
}
.fabui-print:before {
  content: "\4b";
}
.fabui-print-41:before {
  content: "\4c";
}
.fabui-printing-digital:before {
  content: "\4d";
}
.fabui-printing-filament:before {
  content: "\4e";
}
.fabui-printing-materials:before {
  content: "\4f";
}
.fabui-printing-process:before {
  content: "\50";
}
.fabui-process-creation:before {
  content: "\51";
}
.fabui-project-processing:before {
  content: "\52";
}
.fabui-rapid-prototyping:before {
  content: "\53";
}
.fabui-resources:before {
  content: "\54";
}
.fabui-scale-modification:before {
  content: "\55";
}
.fabui-spool-front:before {
  content: "\56";
}
.fabui-spool-orzz:before {
  content: "\57";
}
.fabui-spool-vrt:before {
  content: "\58";
}
.fabui-subtractive:before {
  content: "\59";
}
.fabui-visual-sketching:before {
  content: "\5a";
}
